<!-- Loop over each object in the recipes array -->
{{#each recipes as |recipe| }}
<div class="row mb-4 recipe">
  <div class="col-md-5">
    <p>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{recipe.details}}
    </p>
  </div>
</div>
{{/each}}
