<div id='cuisine-selection' class='row justify-center-md'>
  <div class='col-md-8 radio-button radio-toolbar'>
    <p>What do you feel like?</p>
    <input type='radio' id='american' name='cuisine' value='american' />
    <label for='american' class='btn btn-border'>American</label>
    <input type='radio' id='asian'name='cuisine' value='asian' />
    <label for='asian' class='btn btn-border'>Asian</label>
    <input type='radio' id='indian' name='cuisine' value='indian' />
    <label for='indian' class='btn btn-border'>Indian</label>
    <input type='radio' id='italian' name='cuisine' value='italian' />
    <label for='italian'class='btn btn-border'>Italian</label>
    <input type='radio' id='mexican' name='cuisine' value='mexican' />
    <label for='mexican' class='btn btn-border'>Mexican</label>
    <button class='btn btn-primary' id='surprise-btn' type='submit'>Surprise Me!</button>
    <div class='form-group pt-3 text-center'>
      <a
        class='btn btn-dark btn-lg'
        id='next-btn'
        href='#ingredient-selection'
      >Next</a>
    </div>
  </div>
</div>
<div id='ingredient-selection' class='row mt-5 justify-center-md'>
  <div class='col-md-8 radio-button'>
    <p>What do you have in your fridge?</p>
    <div class='row'>
      <div class='col-md-3'>
        <p>Dairy</p>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='butter' />
          Butter
        </label>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='cheese' />
          Cheese
        </label>
      </div>
      <div class='col-md-3'>
        <p>Protein</p>

        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='shrimp' />
          Shrimp
        </label>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='tofu' />
          Tofu
        </label>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='salmon' />
          Salmon
        </label>
      </div>
      <div class='col-md-3'>
        <p>Produce</p>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='onion' />
          Green Onion
        </label>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='garlic' />
          Garlic
        </label>
      </div>
      <div class='col-md-3'>
        <p>Starch</p>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='corn' />
          Corn Starch
        </label>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='rice' />
          Rice
        </label>
        <label class='checkbox'>
          <input type='checkbox' name='ingredient' value='flour' />
          All Purpose Flour
        </label>
      </div>
    </div>

    <div class='pt-3'>
      <p>I don't feel like looking into my fridge</p>
      <button class='btn btn-primary' id='surprise-btn' type='submit'>Surprise
        Me!</button>
    </div>

    <div class='form-group pt-3 text-center'>
      <a class='btn btn-info btn-lg' id='get-recipe-btn' type='submit'>Lets Eat!</a>
    </div>
  </div>
</div>

<script src='./js/recipe.js'></script>