<div class='row'>
  <div class='col-md-6'>
    <h2>Login</h2>

    <form class='form login-form'>
      <div class='form-group'>
        <label for='email-login'>email:</label>
        <input class='form-input' type='text' id='email-login' />
      </div>
      <div class='form-group'>
        <label for='password-login'>password:</label>
        <input class='form-input' type='password' id='password-login' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>login</button>
      </div>
    </form>
    <h3>Don't have account yet?</h3>
    {{! <button class='btn btn-primary' id='sign-up'>Create Account</button> }}
    <a class='btn btn-primary' href='/signup'>Create Account</a>
  </div>
</div>

<script src='./js/login.js'></script>