<div class='row justify-center-md'>
  <div class='col-md-5 card p-3'>
    <h2>Your preferences</h2>
    <form class='form signup-form'>
      <div class='form-group'>
        <label for='name-signup'>Name</label>
        <input class='form-input' type='text' id='name-signup' readonly value="{{name}}" />
      </div>
      <div class='form-group'>
        <label for='email-signup'>Email</label>
        <input class='form-input' type='text' id='email-signup' readonly value="{{email}}" />
      </div>
      <div class='form-group radio-container pt-3'>
        <p>Do you eat meat?</p>
        <label>
          <input type='radio' name='meat' value="true" {{#if eatsMeat}}checked{{/if}} />
          Yes
        </label>
        <label>
          <input type='radio' name='meat' value="false" {{#unless eatsMeat}}checked{{/unless}} />
          No
        </label>
      </div>
      <div class='form-group radio-container'>
        <p>Do you eat dairy?</p>
        <label>
          <input type='radio' name='dairy' value="true" {{#if eatsDairy}}checked{{/if}} />
          Yes
        </label>
        <label>
          <input type='radio' name='dairy' value="false" {{#unless eatsDairy}}checked{{/unless}} />
          No
        </label>
      </div>
      <div class='form-group radio-container'>
        <p>Do you eat fish?</p>
        <label>
          <input type='radio' name='fish' value="true" {{#if eatsFish}}checked{{/if}} />
          Yes
        </label>
        <label>
          <input type='radio' name='fish' value="false" {{#unless eatsFish}}checked{{/unless}} />
          No
        </label>
      </div>
      <div class='form-group radio-container'>
        <p>Do you eat gluten?</p>
        <label>
          <input type='radio' name='gluten' value="true" {{#if eatsGluten}}checked{{/if}} />
          Yes
        </label>
        <label>
          <input type='radio' name='gluten' value="false" {{#unless eatsGluten}}checked{{/unless}} />
          No
        </label>
      </div>
      <div class='form-group pt-3'>
        <button class='btn btn-info btn-lg btn-block' id='update-preference-btn' type='submit'>Update
          Preferences</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/preferences.js"></script>