<div class='row justify-center-md'>
  <div class='col-md-5 card p-3'>
    <h2>Create a new account</h2>
    <form class='form signup-form'>
      <div class='form-group'>
        <label for='name-signup'>Name</label>
        <input class='form-input' type='text' id='name-signup' />
      </div>
      <div class='form-group'>
        <label for='email-signup'>Email</label>
        <input class='form-input' type='text' id='email-signup' />
      </div>
      <div class='form-group'>
        <label for='password-signup'>Password</label>
        <input class='form-input' type='password' id='password-signup' />
      </div>

      <div class='form-group radio-container'>
        <p>Do you eat meat?</p>
        <label>
          <input type='radio' name='meat' value="true" />
          Yes
        </label>
        <label>
          <input type='radio' name='meat' value="false" />
          No
        </label>
      </div>
      <div class='form-group radio-container'>
        <p>Do you eat dairy?</p>
        <label>
          <input type='radio' name='dairy' value="true" />
          Yes
        </label>
        <label>
          <input type='radio' name='dairy' value="false" />
          No
        </label>
      </div>
      <div class='form-group radio-container'>
        <p>Do you eat fish?</p>
        <label>
          <input type='radio' name='fish' value="true" />
          Yes
        </label>
        <label>
          <input type='radio' name='fish' value="false" />
          No
        </label>
      </div>
      <div class='form-group radio-container'>
        <p>Do you eat gluten?</p>
        <label>
          <input type='radio' name='gluten' value="true" />
          Yes
        </label>
        <label>
          <input type='radio' name='gluten' value="false" />
          No
        </label>
      </div>
      <div class='form-group'>
        <button class='btn btn-info btn-lg btn-block' type='submit'>Create Account</button>
      </div>
    </form>
    <hr class="my-4">

    <p>Already have an account?<strong><a href='/login'> Log in here</a></strong></p>
  </div>
</div>

<script src='./js/signup.js'></script>